APP_DIR=/home/user/book-app-deployment
COMPOSE_FILE=/home/user/book-app-deployment/docker-compose.yml

DB_SERVICE=db
BACKEND_SERVICE=backend

DB_NAME=-name
DB_USER=user

LOCAL_STAGING=/opt/booksite-backup/staging

BACKUP_HOST=hostname
BACKUP_USER=backupuser
SSH_KEY=path_to_ssh_key

REMOTE_INCOMING=/srv/restic/incoming
REMOTE_REPO=/srv/restic/booksite-repo
REMOTE_RESTIC_PASS_FILE=/home/backupuser/.restic-pass

DISCORD_WEBHOOK_URL=<your webhook>