version: '3.8'

services:
  db:
    image: postgres:18-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./src/django-backend
    command: sh -c "python manage.py collectstatic --noinput && python manage.py migrate && python manage.py shell -c \"import os; from django.contrib.auth import get_user_model; User = get_user_model(); username = os.environ.get('DJANGO_SUPERUSER_USERNAME', 'admin'); password = os.environ.get('DJANGO_SUPERUSER_PASSWORD', 'password'); email = os.environ.get('DJANGO_SUPERUSER_EMAIL', 'admin@example.com'); User.objects.filter(username=username).exists() or User.objects.create_superuser(username=username, email=email, password=password)\" && gunicorn backend.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./src/django-backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=backend.settings
    depends_on:
      db:
        condition: service_healthy


  frontend:
    build:
      context: ./src/react-frontend
      target: build # <--- CRITICAL: Tells Docker to stop at the Node.js stage
    # Override the command to run the dev server instead of building
    command: npm run dev -- --host 0.0.0.0 --port 80
    ports:
      - "80:80"
    volumes:
      - ./src/react-frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  postgres_data:
