version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    image: judyhe19/book-app-backend:latest
    restart: always
    command: sh -c "python manage.py collectstatic --noinput && python manage.py migrate && gunicorn backend.wsgi:application --bind 0.0.0.0:8000"
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=backend.settings
    depends_on:
      db:
        condition: service_healthy

  frontend:
    image: judyhe19/book-app-frontend:latest
    restart: always
    ports:
      - "80:80"
      - "443:443" # Expose HTTPS port
    volumes:
      - ./certbot/conf:/etc/letsencrypt # Share certs
      - ./certbot/www:/var/www/certbot # Share validation files
    depends_on:
      - backend

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot

volumes:
  postgres_data:
